.event-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-wrapper label{
  font: var(--text-sm-opensans);
  color: var(--text-heading);
}

.radio-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  margin-bottom: 1.75rem;
}

.radio-inner input[type="radio"] {
  display: none;
}

.radio-inner label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: .15rem;
  border: 2px solid transparent;
  border-radius: 8px;
  color: var(--text-heading);
  font: var(--text-sm-opensans);
  cursor: pointer;
  padding-bottom: 0.5rem;
  background-color: var(--shape-button); 
}

.radio-inner label:hover {
  border: 2px solid var(--brand-light); 
}

.radio-inner img {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 4px; 
}

.radio-inner input[type="radio"]:checked + label {
  border-color: #6ba8ff; 
}

