.botao{
  display: flex;
  justify-content: end;
}

.button-submit button{
  display: flex;
  height: 3rem;
  align-items: center;
  gap: .75rem;
  background-color: var(--brand-dark);
  color: white;
  border: none;
  border-radius: 8px;
  padding: .25rem 1.25rem;
  font: var(--text-md-opensans);
  font-weight: 600;
  cursor: pointer;
}

.button-submit button img{
  height: 20px;
  width: 20px;  
}